{{define "layout"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Cantik Mart</title>
		<style>
			table {
			    font-family: arial, sans-serif;
			    border-collapse: collapse;
			    width: 100%;
			}

			td, th {
			    border: 1px solid #dddddd;
			    text-align: left;
			    padding: 8px;
			}

			tr:nth-child(even) {
			    background-color: #dddddd;
			}
		</style>
	</head>
	<body>
		<fieldset>
			<legend>Barang</legend>
			<br>
			KODE
			<input type="text" name="" id="itemId" value="" placeholder="KODE BARANG" required>
			<br>
			JUMLAH
			<input type="number" name="" id="item_qty" value="1" min="1" placeholder="">
		</fieldset>

		<table id="itemList">
			<thead>
				<tr>
					<th>Kode</th>
					<th>Nama Barang</th>
					<th>Kategori</th>
					<th>Jumlah</th>
					<th>Harga</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript">
			var table = document.getElementById("itemList");
			

			var textInput = document.getElementById('itemId');
			// Init a timeout variable to be used below
			var timeout = null;

			// Listen for keystroke events
			textInput.onkeyup = function (e) {

			    // Clear the timeout if it has already been set.
			    // This will prevent the previous task from executing
			    // if it has been less than <MILLISECONDS>
			    clearTimeout(timeout);

			    // Make a new timeout set to go off in 800ms
			    timeout = setTimeout(function () {
			    	var item_id = document.getElementById("itemId").value;
			        $.ajax({
							method: "GET",
							cache: false,
							url: "/api/item?id="+item_id, 
							success: function(result_arr){
								var result = result_arr[0];
								var qty = document.getElementById("item_qty").value;
					            var rows_length = table.rows.length;
					            var row = table.insertRow(rows_length);
					            var cell1 = row.insertCell(0);
								var cell2 = row.insertCell(1);
								var cell3 = row.insertCell(2);
								var cell4 = row.insertCell(3);
								var cell5 = row.insertCell(4);
								var cell6 = row.insertCell(5);

								// Add some text to the new cells:
								cell1.innerHTML = result[0];
								cell2.innerHTML = result[1];
								cell3.innerHTML = result[2];
								cell4.innerHTML = ""+qty;
								cell5.innerHTML = result[3];
								cell6.innerHTML = parseFloat(""+qty) * parseFloat(result[3]);
								document.getElementById("itemId").value = "";
								document.getElementById("item_qty").value = 1;
								document.getElementById("itemId").focus();
				    	    },
				    	    error: function (error) {
							    alert("Terjadi Kesalahan")
							}
				    	});
			    }, 300);
			};

			function GetItem(){
				var item_id = document.getElementById("itemId").value
				if (item_id.length > 10 ){
						$.ajax({
							method: "GET",
							cache: false,
							url: "/api/item?id="+item_id, 
							success: function(result_arr){
								var qty = document.getElementById("item_qty").value;
								result = result_arr[0];
								alert(result[2])
					            var rows_length = table.rows.length;
					            var row = table.insertRow(rows_length);
					            var cell1 = row.insertCell(0);
								var cell2 = row.insertCell(1);
								var cell3 = row.insertCell(2);
								var cell4 = row.insertCell(3);
								var cell5 = row.insertCell(4);
								var cell6 = row.insertCell(5);

								// Add some text to the new cells:
								cell1.innerHTML = result[0];
								cell2.innerHTML = result[1];
								cell3.innerHTML = result[2];
								cell3.innerHTML = ""+qty;
								cell4.innerHTML = result[3];
								cell5.innerHTML = parseFloat(""+qty) * parseFloat(result[3]);
								document.getElementById("itemId").value = "";
								document.getElementById("item_qty").value = 1;
								document.getElementById("itemId").focus();
				    	    }
				    	});
				}
			}
		</script>
	</body>
</html>
{{end}}