{{define "content"}}
<link rel="stylesheet" href="/assets/css/lib/datatable/dataTables.bootstrap.min.css">
{{if eq .role "Accounting"}}
<script type="text/javascript">
function create(){
$("#close-modal-button").click();
$.ajax({
url:"/create/user",
method: "POST",
data: $("#form-create").serialize(),
success:function(response){
openAlert("Berhasil menambahkan user.", "success", "/list/user");
},
error:function(response){
openAlert("Gagal menambahkan user.", "danger","/list/user");
}
});
return false;
}
</script>
<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#create-user">
Tambah
</button>
<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Tambah User</strong>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true" id="close-modal-button">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="pay-invoice">
                            <div class="card-body">
                                <form onsubmit="return create()" method="post" id="form-create">
                                    <div class="form-group has-success">
                                        <label for="cc-name" class="control-label mb-1">Nama</label>
                                        <input id="cc-name" name="name" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" placeholder="nama" required>
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="cc-number" class="control-label mb-1">Email</label>
                                        <input id="email" name="email" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" placeholder="email" required>
                                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">Kata Sandi</label>
                                        <input id="password" name="password" type="password" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration" data-val-cc-exp="Please enter a valid month and year" placeholder="" autocomplete="cc-exp" required>
                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">Alamat</label>
                                        <input id="address" name="address" type="text" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration" data-val-cc-exp="Please enter a valid month and year" placeholder="alamat" autocomplete="cc-exp" required>
                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="x_card_code" class="control-label mb-1">No Handphone </label>
                                        <div class="input-group">
                                            <input id="phone" name="phone" type="tel" class="form-control cc-cvc" value="" data-val="true" data-val-required="Please enter the security code" data-val-cc-cvc="Please enter a valid security code" autocomplete="off" placeholder="0812345678" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">Peran</label>
                                        <select name="role" id="SelectRole" class="form-control-sm form-control" required>
                                            <option value="0" style="text-align: center;"> - Pilih Peran - </option>
                                            {{ range $idx,$i := .list_user_role }}
                                            <option value="{{index $.list_user_role $idx 0}}">{{index $.list_user_role $idx 1}}</option>
                                            {{end}}
                                        </select>
                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">Toko</label>
                                        <select name="store" id="SelectStore" class="form-control-sm form-control" required>
                                            <option value="0" style="text-align: center;"> - Pilih Toko - </option>
                                            {{ range $idx,$i := .list_store }}
                                            <option value="{{index $.list_store $idx 0}}">{{index $.list_store $idx 1}}</option>
                                            {{end}}
                                        </select>
                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                    </div>
                                    <div>
                                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                        <i class="fa fa-lock fa-lg"></i>&nbsp;
                                        <span id="payment-button-amount">Tambah</span>
                                        <span id="payment-button-sending" style="display:none;">Menambahkan…</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Daftar Pengguna</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nama</th>
                                    <th>Email</th>
                                    <th>Alamat</th>
                                    <th>No HP</th>
                                    <th>Role</th>
                                    <th>Store</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        <tbody></tbody>
                        <tfoot>
                        <tr>
                            <th style="display: none;">Id</th>
                            <th style="display: none;">Nama</th>
                            <th>Role</th>
                            <th style="display: none;" >Jual</th>
                            <th style="display: none;">Beli</th>
                            <th style="display: none;">Margin</th>
                            <th style="display: none;">Deskripsi</th>
                            <th style="display: none;">Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/assets/js/lib/data-table/datatables.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/assets/js/lib/data-table/datatables-init.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$('#bootstrap-data-table').DataTable( {
data: {{.list_user}},
"scrollY": 400,
destroy: true,
"scrollX": true,
columns:[{title:"Id"},{title:"Name"},{title:"Email"},{title:"Address"},{title:"Phone"},{title:"Role"},{title:"Store"},{title:"Action"}],
initComplete: function () {
this.api().columns().every( function () {
var column = this;
var select = $('<select><option value=""></option></select>')
.appendTo( $(column.footer()).empty() )
.on( 'change', function () {
var val = $.fn.dataTable.util.escapeRegex(
$(this).val()
);
column
.search( val ? '^'+val+'$' : '', true, false )
.draw();
} );
column.data().unique().sort().each( function ( d, j ) {
select.append( '<option value="'+d+'">'+d+'</option>' )
} );
} );
},
fixedHeader: {
header: true,
footer: true
}
} );
} );
</script>
{{end}}