{{define "navbar"}}
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="/assets/images/logo.png" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="/assets/images/logo2.png" alt="Logo"></a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"> <i class="menu-icon fa fa-home"></i>Beranda</a>
                </li>
                <h3 class="menu-title">Menu</h3>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-inbox"></i>Barang</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="/list/item">Daftar Barang</a></li>
                        <li><i class="fa fa-list"></i><a href="/list/order">Order Barang</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-inbox"></i>Pengguna</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="/list/user">Daftar Pengguna</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-inbox"></i>Supplier</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="/list/supplier">Daftar Supplier</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-inbox"></i>Toko</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="/list/store">Daftar Toko</a></li>
                    </ul>
                </li>

                {{if eq .role "Owner"}}

                {{end}}


                {{if eq .role "Keuangan"}}
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-shopping-cart"></i>Penjualan</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="tables-basic.html">Daftar Penjualan</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Pembelian</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="tables-basic.html">Daftar Tagihan</a></li>
                        <li><i class="fa fa-undo"></i><a href="tables-basic.html">Riwayat Pembelian</a></li>
                        <li><i class="fa fa-pencil-square-o"></i><a href="tables-basic.html">Pesan ke Supplier</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Pengguna</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-list"></i><a href="tables-basic.html">Daftar Pengguna</a></li>
                    </ul>
                </li>
                {{end}}

                {{if eq .role "Gudang"}}

                {{end}}
                
                <li>
                    <a href="/profile"> <i class="menu-icon ti-user"></i>Profil</a>
                </li>
            </ul>
            </div><!-- /.navbar-collapse -->
    </nav>
</aside>

{{end}}