<html>
   <table style="font-family: monospace; border: 1px; width: 100%">
      <tr style="height: 2cm; " >
         <td valign="top"  width="70%">
            <h3>CANTIK MART</h3>
            Plered, Purwakarta <br> 022 - 12345678 
         </td>
         <td style="text-align: right;" width="30%"> <img src="127.0.0.1:8080/assets/images/icon2.png" width="100%"> </td>
      </tr>
   </table>
   <hr>
   <table style="font-family: monospace; border: 1px;">
      <tr style="height: 0.5cm;">
         <td valign="top" colspan="3" ><b>Bluprint Thermal Paper Roll 80x80</b> </td>
      </tr>
      <tr style="height:0.5cm;" style="text-align: right;">
         <td valign="top" style="text-align: center;"> *1</td>
         <td valign="top" style="text-align: right;"> @27.000 </td>
         <td valign="top" style="text-align: right;">26.900</td>
      </tr><tr style="height: 0.5cm;">
         <td valign="top" colspan="3" ><b>Bluprint Thermal Paper Roll 80x80</b> </td>
      </tr>
      <tr style="height:0.5cm;" style="text-align: right;">
         <td valign="top" style="text-align: center;"> *1</td>
         <td valign="top" style="text-align: right;"> @27.000 </td>
         <td valign="top" style="text-align: right;">26.900</td>
      </tr><tr style="height: 0.5cm;">
         <td valign="top" colspan="3" ><b>Bluprint Thermal Paper Roll 80x80</b> </td>
      </tr>
      <tr style="height:0.5cm;" style="text-align: right;">
         <td valign="top" style="text-align: center;"> *1</td>
         <td valign="top" style="text-align: right;"> @27.000 </td>
         <td valign="top" style="text-align: right;">26.900</td>
      </tr><tr style="height: 0.5cm;">
         <td valign="top" colspan="3" ><b>Bluprint Thermal Paper Roll 80x80</b> </td>
      </tr>
      <tr style="height:0.5cm;" style="text-align: right;">
         <td valign="top" style="text-align: center;"> *1</td>
         <td valign="top" style="text-align: right;"> @27.000 </td>
         <td valign="top" style="text-align: right;">26.900</td>
      </tr><tr style="height: 0.5cm;">
         <td valign="top" colspan="3" ><b>Bluprint Thermal Paper Roll 80x80</b> </td>
      </tr>
      <tr style="height:0.5cm;" style="text-align: right;">
         <td valign="top" style="text-align: center;"> *1</td>
         <td valign="top" style="text-align: right;"> @27.000 </td>
         <td valign="top" style="text-align: right;">26.900</td>
      </tr><tr style="height: 0.5cm;">
         <td valign="top" colspan="3" ><b>Bluprint Thermal Paper Roll 80x80</b> </td>
      </tr>
      <tr style="height:0.5cm;" style="text-align: right;">
         <td valign="top" style="text-align: center;"> *1</td>
         <td valign="top" style="text-align: right;"> @27.000 </td>
         <td valign="top" style="text-align: right;">26.900</td>
      </tr>
   </table>
   <hr>
   <table style="font-family: monospace; border: 1px;width: 100%;">
      <tr style="height: 0.5cm;">
         <td valign="top">
            <h6>subtotal</h6>
         </td>
         <td valign="top">:</td>
         <td valign="top" style="text-align: right;">27.000</td>
      </tr>
      <tr style="height: 0.5cm;">
         <td valign="top">
            <h6>diskon</h6>
         </td>
         <td valign="top">:</td>
         <td valign="top" style="text-align: right;">100</td>
      </tr>
      <tr style="height: 0.5cm;">
         <td valign="top">
            <h4>TOTAL</h4>
         </td>
         <td valign="top">:</td>
         <td valign="top" style="text-align: right;">26.900</td>
      </tr>
   </table>
   <hr>
   <table style="font-family: monospace; border: 1px;width: 100%;">
      <tr style="height: 0.5cm;">
         <td valign="top">
            <h4>CASH</h4>
         </td>
         <td valign="top">:</td>
         <td valign="top" style="text-align: right;">50.000</td>
      </tr>
   </table>
   <table style="font-family: monospace; border: 1px;width: 100%;">
      <tr style="height: 0.5cm;">
         <td valign="top">
            <h4>CASH</h4>
         </td>
         <td valign="top">:</td>
         <td valign="top" style="text-align: right;">50.000</td>
      </tr>
   </table>
   <hr>
   <table style="font-family: monospace; border: 1px; width: 100%">
      <tr style="height: 0.3cm;">
         <td valign="middle" style="text-align: center; font-size: 0.3cm;" > Powered by </td>
      </tr>
      <tr style="height: 0.3cm;">
         <td valign="middle" style="text-align: center; font-size: 0.3cm;" > <b>www.pardev.id</b></td>
      </tr>
   </table>
</html>