<html>
	<table style="font-family: monospace; border: 1px; width: 100%">
		<tr style="height: 2cm; " >
			<td valign="top" width="50%">
				<h2>CANTIK MART</h2>
				<h4>Plered</h4>
				<h4>022 - 12345678</h4>
			</td>
			<td style="text-align: right;" width="50%">
				<img src="assets/img/icon2.png" width="30%">
			</td>
		</tr>
	</table>
	<hr>
	<table style="font-family: monospace; border: 1px;width: 100%;">
		<tr style="height: 0.5cm;">
			<td valign="top" colspan="2" >
				<h3>CHEETOS JAGUNG 15GR</h3>
			</td>
		</tr>
		<tr style="height:0.5cm;" style="text-align: right;">
			<td valign="top" colspan="2">
				@ 1
			</td>
			<td valign="top" >
				1.000
			</td>
		</tr>
	</table>
	<nr>
	<div style="text-align: center;">
		<h5>Powered by <b>www.pardev.id</b></h5>
		<img src="assets/img/logo.png" width="30%">
	</div>
</html>